# Gradle
.gradle/
build/

# Forge Gradle
runs/

# InteliJ
.idea/**/dictionaries
.idea/**/libraries
.idea/**/gradle.xml
.idea/**/tasks.xml
.idea/**/workspace.xml
.idea
out/
*.iml

# Visual Studio Code
.history/
Icon*